body{
    margin: 0;
}

main{
    display: grid;
    height: 100vh;
    align-content: center;
}

section{
    display: grid;
    padding: 0.25rem;
}

section:nth-child(1){
    grid-template-columns: auto 25%;
    background-color: wheat;
    justify-items: end;
    align-items: start;
}

section:nth-child(2){
    background-color: grey;
    padding: 0;
    justify-items: center;
    align-items: center;
}

section:nth-child(3){
    grid-template-columns: 25% auto;
    background-color: wheat;
    align-items: end;
    justify-items: start;
}

/* Jenny's portrait */
section:nth-child(1)>article{
    text-align: center;
}

/* Vasilis's portrait */
section:nth-child(3)>article{
    text-align: center;
}

p{
    margin: 0;
}

img{
    max-width: 100%;
}

#speech1{
    margin-right: 1rem;
}

#speech2{
    margin-left: 1rem;
}

.speech{
    border: 1px solid black;
    border-radius: 42px;
    padding: 0.5rem;
    text-align: center;
    background-color: white;
}